div.fancy-select {
	position: absolute;
	top: 0;
	left: -96px;
	width: 96px;
	height: 96px;
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	-webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
	background-color: #5f656d;
}
.navbar #add.link.hovered .fancy-select{
	left: 288px;
}
@media (max-width: 992px) {
	.navbar #add.link.hovered .fancy-select{
		left: 192px;
	}
}

div.fancy-select.disabled {
	opacity: 0.5;
}
div.fancy-select div.trigger {
	text-align: center;
	cursor: pointer;
	padding: 5px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: relative;
  display: table-cell;
  vertical-align: bottom;
	background: #5f656d url('../img/dropdown.svg');
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
	max-width: 86px;
	min-width: 86px;
	height: 81px;
}
div.fancy-select div.trigger.open {
	box-shadow: none;
}
div.fancy-select div.trigger.open:after {
	border-top-color: #7A8498;
}
div.fancy-select ul.options {
	list-style: none;
	text-align: center;
	margin: 0;
	position: absolute;
	top: 50px;
	left: 0;
	visibility: hidden;
	opacity: 0;
	z-index: 50;
	max-height: 200px;
	overflow: auto;
	background: #a0a7b3;
	min-width: 100%;
	transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out, visibility 300ms ease-out;
}
.navbar #add.link.hovered div.fancy-select ul.options.open {
	visibility: visible;
	top: 96px;
	opacity: 1;
	transition: opacity 300ms ease-out, top 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, top 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, top 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, top 300ms ease-out;
	-o-transition: opacity 300ms ease-out, top 300ms ease-out;
}
div.fancy-select ul.options.overflowing {
	top: auto;
	bottom: 40px;
	transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out, visibility 300ms ease-out;
}
div.fancy-select ul.options.overflowing.open {
	top: auto;
	bottom: 50px;
	transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-webkit-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-moz-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-ms-transition: opacity 300ms ease-out, bottom 300ms ease-out;
	-o-transition: opacity 300ms ease-out, bottom 300ms ease-out;
}
div.fancy-select ul.options li {
	padding: 8px 12px;
	margin: 0;
	height: 100%;
	color: #fff;
	cursor: pointer;
	white-space: nowrap;
	transition: all 150ms ease-out;
	-webkit-transition: all 150ms ease-out;
	-moz-transition: all 150ms ease-out;
	-ms-transition: all 150ms ease-out;
	-o-transition: all 150ms ease-out;
}
div.fancy-select ul.options li.selected {
	background: rgba(216, 216, 216, 0.5);
	color: rgba(255,255,255,1);
}
div.fancy-select ul.options li.hover {
	color: #fff;
	background: rgba(216, 216, 216, 0.8);
}