html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
button,
input,
select,
textarea {
  background-image: none;
  border: 0;
  border-radius: 0;
}

/* CSS RESET DONE */
body, html { height: 100%; }

body {
  color: #fff;
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #fff;
  margin: 0;
}
.clearfix {
  clear: both;
}

/*************/
/* MAIN MENU */
/*************/
.valign {
  position: relative;
  display: table-cell;
  vertical-align: bottom;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 96px;
  background-color: #f0f0f0;
  z-index: 1001;
  text-align: center;
}
@media (max-width: 992px) {
  header{
    width: calc(100% - 96px);
    padding-left: 96px;
  }
}
header img.logo{
  margin-top: 10px;
  max-width: 100%;
  max-width: 100%;
}

.navbar {
  background-color: #45494f;
  position: fixed;
  left: 0;
  width: 96px;
  height: 100%;

  -webkit-box-shadow: 1px 0 1px 0 rgba(0,0,0,.15); 
  box-shadow: 1px 0 1px 0 rgba(0,0,0,.15); 
  z-index: 1001;
}
  .navbar .link {
    position: relative;
    display: block;
    margin: 0;
    width: 96px;
    height: 96px;
    background-color: #444;
  }
    .navbar .link span.active,
    .navbar .link span.hover {
      display: table;
      position: absolute;
      width: 96px;
      height: 96px;
      transition: .2s;
      -webkit-transition: .2s;
      /*border-bottom: 1px solid #555;*/
    }
    .navbar .link span.active{
      transform-origin: 96px 50% 0px;
      -webkit-transform-origin: 96px 50% 0px;
    }
    .navbar .link span.hover {
      transform-origin: 0% 50% 0px;
      -webkit-transform-origin: 0% 50% 0px;
      background-position: 0px -10px;
      font-size: 14px;
      line-height: 34px;
      text-transform: uppercase;
      text-align: center;
    }
    .navbar .link span.active {
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      left: 0;
    }
      .navbar .link.hovered span.active {
        transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, -96, 0, 0, 1);
        -webkit-transform: matrix3d(0, 0, 1, 0, 0, 1, 0, 0, -1, 0, 0, 0, -96, 0, 0, 1);
      }

    .navbar .link span.hover {
      transform: matrix3d(0, 0, -1, 0.00166, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1);
      -webkit-transform: matrix3d(0, 0, -1, 0.00166, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1);
      left: 100%;
    }
      .navbar .link.hovered span.hover {
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -96, 0, 0, 1);
        -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, -0.00166, -96, 0, 0, 1);
      }

/* MOBILE MENU BUTTON */
.navbar #menu-btn {
  display: none;
}
@media (max-width: 992px) {
  .navbar #menu-btn {
    background-color: #a0a7b3;
    display: block;
    z-index: 1
  }
    .navbar #menu-btn.link span.active {
      background-color: #a0a7b3;
      background-image: url('../img/menu.svg');
    }
      .navbar #menu-btn.link.hovered span.active {
        background-color: #828c95;
      }
      .navbar #menu-btn.link.hovered span.hover {
        background-color: #6c757d;
        background-image: url('../img/menu.svg');
      }
    .navbar{
      position: absolute;
    }
    .navbar #menu {
      position: absolute;
      top: -672px;
      left: 0;
      -webkit-transition: all .2s ease;
      transition: all .2s ease;
    }
    .navbar #menu.active {
      top: 96px;
    }
}

/* ADD BUTTON EXPAND */
.plus {
  cursor: pointer;
}
.navbar #add {
  background-color: #bdeff6;
}
  .navbar #add.link span.active {
    background-color: #bdeff6;
    background-image: url('../img/add.svg');
  }
    .navbar #add.link.hovered span.active {
      background-color: #85dadf;
    }
    .navbar #add.link.hovered span.hover {
      background-color: #20cbd4;
      background-image: url('../img/add.svg');
    }
  #add.expand{
    width: 480px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
    .navbar #add.link.expand span.active {
      left: 384px;
    }
.navbar #add.link #paste-url{
  width: 0px;
  height: 100%;
  background-color: #45494f;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0 24px;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all .2s ease;
  -webkit-transition-delay: 0.2s;
  transition: all .2s ease;
  transition-delay: 0.2s;
}
.navbar #add.link.hovered #paste-url{
  width: 240px;
}
@media (max-width: 992px) {
  #add.expand{
    width: 384px;
  }
  .navbar #add.link.expand span.active {
      left: 288px;
  }
  .navbar #add.link.hovered #paste-url{
    width: 152px;
  }
}

/* CATEGORIES BUTTON */
.navbar #categories {
  background-color: #51bfce;
}
  .navbar #categories.link span.active {
    background-color: #51bfce;
    background-image: url('../img/categories.svg');
  }
    .navbar #categories.link.hovered span.active {
      background-color: #00bfd7;
    }
    .navbar #categories.link.hovered span.hover {
      background-color: #00acc8;
      background-image: url('../img/categories.svg');
    }

/* SETTINGS BUTTON */
.navbar #settings {
  background-color: #429ba8;
}
  .navbar #settings.link span.active {
    background-color: #429ba8;
    background-image: url('../img/settings.svg');
  }
    .navbar #settings.link.hovered span.active {
      background-color: #00a6b6;
    }
    .navbar #settings.link.hovered span.hover {
      background-color: #0096aa;
      background-image: url('../img/settings.svg');
    }

/* ABOUT BUTTON */
.navbar #about {
  background-color: #007b8b;
}
  .navbar #about.link span.active {
    background-color: #007b8b;
    background-image: url('../img/about.svg');
  }
    .navbar #about.link.hovered span.active {
      background-color: #007581;
    }
    .navbar #about.link.hovered span.hover {
      background-color: #006168;
      background-image: url('../img/about.svg');
    }

/* DONATE BUTTON */
.navbar #donate {
  background-color: #f69c60;
  margin-top: 140px;
}
  .navbar #donate.link span.active {
    background-color: #f69c60;
    background-image: url('../img/donate.svg');
  }
    .navbar #donate.link.hovered span.active {
      background-color: #e1905a;
    }
    .navbar #donate.link.hovered span.hover {
      background-color: #ff8030;
      background-image: url('../img/donate.svg');
    }
@media (max-width: 992px) {
  .navbar #donate {
    margin-top: 0px;
  }
}

/* SEARCH BUTTON */
.navbar #search {
  background-color: #a0a7b3;
  position: fixed;
  top: 0px;
  right: 96px;
}
  .navbar #search.link span.active {
    background-color: #a0a7b3;
    background-image: url('../img/search.svg');
  }
    .navbar #search.link.hovered span.active {
      background-color: #828c95;
    }
    .navbar #search.link.hovered span.hover {
      background-color: #6c757d;
      background-image: url('../img/search.svg');
    }
    .navbar #search.link.hovered span.hover input {
      margin: 0;
      padding: 0;
      width: 96px;
      height: 96px;
      background: none;
      cursor: pointer;
      position: absolute;
      z-index: 10;
    }
  #search.expand{
    width: 384px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
  }
    .navbar #search.link span.hover {
      left: 96px;
    }
.navbar #search.link #search-text{
  float: right;
  width: 0px;
  height: 96px;
  background-color: #35383d;
  border: 0;
  outline: 0;
  margin: 0;
  padding: 0 24px;
  font-size: 16px;
  color: #fff;
  -webkit-transition: all .2s ease;
  -webkit-transition-delay: 0.2s;
  transition: all .2s ease;
  transition-delay: 0.2s;
}
.navbar #search.link.hovered #search-text{
  width: 240px;
}
@media (max-width: 992px) {
  .navbar #search {
    position: relative;
    top: 0;
    left: 0;
  }
    .navbar #search.link.expand span.active {
      left: 288px;
    }
    .navbar #search.link.expand span.hover {
      left: 384px;
    }
  .navbar #search.link #search-text{
    float: left;
  }
  .navbar #search.link.hovered #search-text{
    width: 248px;
  }
}

/* LOGIN BUTTON */
.navbar #logout {
  background-color: #45494f;
  position: fixed;
  top: 0px;
  right: 0px;
}
  .navbar #logout.link span.active {
    background-color: #45494f;
    background-image: url('../img/login.svg');
  }
    .navbar #logout.link.hovered span.active {
      background-color: #35383d;
    }
    .navbar #logout.link.hovered span.hover {
      background-color: #26282b;
      background-image: url('../img/login.svg');
    }
@media (max-width: 992px) {
  .navbar #logout {
    position: relative;
  }
}


/****************/
/* EXPAND BLOCK */
/****************/
.expand-section{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1000;
}
.expand-section.hovered{
  display: block;
}
.expand-section .expand-block{
  position: relative;
  top: 96px;
  left: 96px;
  background-color: #fff;
  display: none;
  overflow-y: auto;
}

/* CATEGORIES */
.expand-section .expand-block.categories.hovered {
  display: block;
}
ul.category-list {
  margin: 0;
  padding: 60px;
}
ul.category-list li {
  margin: 0px;
  padding: 0px;
  text-indent: 10px;
  list-style: none;
  white-space: nowrap;
  display: inline-block;
  width: 150px; /* 'X' */
}
ul.category-list li:after {
  content: ",";
}
ul.category-list li:last-child:after {
  content: "";
}
ul.category-list li a {
  text-decoration: none; 
  text-transform: uppercase;
  color: #666; 
  display: inline-block; 
  max-width: 140px; /* 'X' minus gutter */
  white-space: nowrap; 
  text-overflow: ellipsis; 
  overflow:hidden;
  width: 100%;
  padding: 12px 15px;
  font-size: 18px;
}
ul.category-list li a:hover {
  color: #fff;
  background-color: #45484f;
}


/* SETTINGS */
.expand-section .expand-block.settings.hovered {
  display: block;
}

/* buttons to add/delete category */
.expand-section .expand-block.settings .btn-line{
  margin: 60px;
}
/* category selector */
ul.folder{
  margin: 60px;
  height: 200px;
  overflow-y: scroll;
  outline: none;
}
  ul.folder li{
    width: 100%;
    text-align: left;
    height: 25px;
    margin-bottom: 7px;
  }
    ul.folder li input[type=checkbox].css-checkbox {
      overflow: hidden;
      clip: rect(0 0 0 0);
      height:1px;
      width:1px;
      margin:-1px;
      padding:0;
      border:0;
      display: none;
    }
    ul.folder li input[type=checkbox].css-checkbox + label.css-label {
      padding-left: 25px;
      height: 15px;
      display:inline-block;
      line-height:15px;
      background-repeat:no-repeat;
      background-position: 0 0;
      font-size:14px;
      font-family: 'Open Sans', sans-serif;
      vertical-align:middle;
      cursor:pointer;
    }
    ul.folder li input[type=checkbox].css-checkbox:checked + label.css-label {
      background-position: 0 -15px;
    }
    ul.folder li .css-label{
      background-image: url(../img/checkbox.png);
      color: #7b818d;
    }
    ul.folder li .icon-folder{
      background-image: url(../img/folder.png);
      background-size: 24px 21px;
      width: 24px;
      height: 21px;
      margin-top: -3px;
      margin-right: 10px;
      float: left;
    }
/* feedback form */
.feedback{
  margin: 168px 60px 0px 60px;
}
  .feedback input{
    width: 99%;
    padding: 7px 1px;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    text-indent: 10px;
    border: 1px solid #ccc;
    border: 1px solid #ccc;
  }
  .feedback textarea{
    width: 99%;
    height: 125px;
    padding: 7px 1px;
    margin: 20px 0 0 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    text-indent: 10px;
    border: 1px solid #ccc;
    border: 1px solid #ccc;
  }

/* ABOUT */
.expand-section .expand-block.about.hovered {
  display: block;
}

/* DONATE */
.expand-section .expand-block.donate.hovered {
  display: block;
}
/* donate info */
.donate label.lable-info{
  font-size: 12px;
  color: #999;
  margin: 0 10px 0 0;
  text-transform: uppercase;
}
.donate-info{
  padding: 30px 60px 0px 60px;
}
.input-block{
  display: inline-block;
  width: 48%;
  margin-bottom: 10px;
}
@media (max-width: 600px) {
  .input-block{
    width: 100%;
  }
}
.donate-info .input-block.wide{
  width: 100%;
}
.donate-info .input-block.mar-right{
  margin-right: 3%;
}
.donate-info input{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  text-indent: 10px;
  color: #45494f;
  border: 0;
  background-color: #f4f4f4;
}
.donate-info textarea{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  margin: 15px 0;
  width: 100%;
  padding: 5px 1px;
  text-indent: 10px;
}


/* donate info dropdown */
.donate-info label.dropdown select {
  padding: 8px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color:#45494f;
  border: 0;
  outline:none;
  display: inline-block;
  cursor:pointer;
  text-transform: uppercase;
  width: 100%;
  background-color: #f4f4f4!important;
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .donate-info label.dropdown select {padding-right: 30px;background-color: #f4f4f4!important;}
}
.donate-info label.dropdown {position:relative}
.donate-info label.dropdown:after {
  content:'>';
  font: 25px "Consolas", monospace;
  color: #fff;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  right: 10px;
  top: -4px;
  position:absolute;
  pointer-events:none;
}
.donate-info label.dropdown:before {
  content:'';
  right: 1px;
  top: -6px;
  width: 36px;
  height: 36px;
  background: #ccc;
  position:absolute;
  pointer-events:none;
  display:block;
  margin: 0px!important;
}
/* donate select */
.donate-select{
  margin: 20px 60px 0 60px;
  display: inline-block;
}
.donate-select li{
  display: inline-block;
  margin: 0 10px 10px 0;
}
.donate-select label{
  display: block;
  margin: 0;
}
.donate-select input{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  width: 100%;
  padding: 8px 0;
  text-indent: 10px;
  border: 0;
  background-color: #f4f4f4!important;
}
input.donate-other{
  width: 100px!important;
  margin-right: 10px;
}
.donate-select span{
  line-height: 38px;
  color: #999;
}
.donate-select input[type=radio].css-checkbox {
  display:none;
}
.donate-select input[type=radio].css-checkbox + label.css-label {
  padding-left: 20px;
  height:15px;
  display:inline-block;
  line-height: 16px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size: 12px;
  vertical-align:middle;
  cursor:pointer;
}
.donate-select input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}
.donate-select label.css-label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.donate-select .css-label{
  background-image: url(../img/checkbox.png);
  color: #7b818d;
}
/* card info */
.card-info{
  margin: 0 10px 20px 60px;
  display: inline-block;
}
.card-info.date {
  margin-left: 15px;
}
@media (max-width: 992px) {
  .card-info{
    display: block;
  }
}
@media (max-width: 1250px) {
  .card-info.date {
    margin-left: 60px;
  }
}
.card-info label.info{
  margin: 0 10px 0 0;
  display: block;
  color: #999;
  font-size: 12px;
  text-transform: uppercase;
}
.card-info input{
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color:#45494f;
  background-color: #f4f4f4!important;
  border: 0;
  width: 188px;
  padding: 8px 0;
  text-indent: 10px;
  text-transform: uppercase;
}
.card-info label.dropdown{
  display: inline-block;
  width: 120px;
  background-color: #fff;
  margin-bottom: 20px
}
/* dropdown */
.card-info label.dropdown select {
  padding: 8px;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 14px;
  color:#45494f;
  background-color: #f4f4f4!important;
  border: 0;
  outline:none;
  display: inline-block;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  text-transform: uppercase;
  width: 100%;
}
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio:0) {
  .card-info label.dropdown select {padding-right: 30px;background-color: #fff;}
}
.card-info label.dropdown {position:relative;margin-right: 20px;}
.card-info label.dropdown:after {
  content:'>';
  font: 25px "Consolas", monospace;
  color: #fff;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  right: 10px;
  top: 4px;
  position:absolute;
  pointer-events:none;
}
.card-info label.dropdown:before {
  content:'';
  right: 1px;
  top: 0px;
  width: 36px;
  height: 36px;
  background: #ccc;
  position:absolute;
  pointer-events:none;
  display:block;
}
.creditcards{
  width: 232px!important;
  height: 40px!important;
  margin: 10px 60px;
  display: block;
}
/* monthly donation check box */
input[type=checkbox].css-checkbox {
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
  display: none;
}
input[type=checkbox].css-checkbox + label.css-label {
  padding-left: 25px;
  height: 15px;
  display:inline-block;
  line-height:15px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:15px;
  vertical-align:middle;
  cursor:pointer;
}
input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -15px;
}
.css-label{
  background-image: url(../img/checkbox.png);
  color: #7b818d;
}
/* buttons to add/delete category */
.expand-section .expand-block.donate .btn-line{
  margin: 60px;
}

/********/
/* GRID */
/********/
.col-one-half{
  float: left;
  width: 50%;
}
@media (max-width: 992px) {
  .col-one-half{
    width: 100%;
  }
}
.col-all{
  float: left;
  width: 100%;
}
#gertruda {
  margin: 0 auto 50px auto;
  float: none!important;
}


/**************/
/* TYPOGRAPHY */
/**************/
h3{
  font-size: 18px;
  color: #45484f;
  text-transform: uppercase;
  margin:0 60px;
  padding: 60px 0 0 0;
}
  h3 span{
    color: #999;
  }
  h3 label{
    font-size: 14px;
    color: #999;
    margin: 10px 0;
    padding: 0;
  }
p{
  font-size: 14px;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: #45494f;
  margin: 30px 60px;
}


/***********/
/* BUTTONS */
/***********/
.default-btn{
  background-color: #45484f;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 22px;
  margin-bottom: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-border-radius:0px;
  -moz-border-radius:0px;
  border: 0px;
  color: #fff;
  cursor: pointer;
  background-image: none;
}
.default-btn:hover{
  background-color: #7b818d;
}
.default-btn.large,
.success-btn.large {
  font-size: 18px;
  font-weight: 400;
}
.success-btn{
  background-color: #51bfce;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px 15px;
  margin-bottom: 5px;
  border: none;
  color: #fff;
  cursor: pointer;
}
.success-btn:hover{
  background-color: #79bec6;
}


/*********/
/* CARDS */
/*********/
.card-container {
  position: relative;
  min-height: 80px;
  margin-bottom: 50px;
}
.card-container h3{
  font-size: 18px;
  color: #429ba8;
  margin: 30px 0 20px 0;
  text-align: center;
  padding: 0;
}
.card-container p{
  font-size: 12px;
  font-family: 'Roboto Condensed', sans-serif;
  color: #787e89;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}
.card-container .card {
  height: 100%;
  position: relative;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
  width: 100%;
  cursor: pointer;
}
.card-container .card .front {
  height: 100%;
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 900;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.card-container .card .front img,
.card-container .card .back img{
  width: 70%;
  margin: 0 15%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}
.card-container .card.flip .front {
  z-index: 900;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.card-container .card.flip .back {
  z-index: 1000;
  -webkit-transform: rotateX(0deg) rotateY(0deg);
  -moz-transform: rotateX(0deg) rotateY(0deg);
  -ms-transform: rotateX(0deg) rotateY(0deg);
  -o-transform: rotateX(0deg) rotateY(0deg);
  transform: rotateX(0deg) rotateY(0deg);
}
.card-container .card .back {
  position: absolute;
  top: 0;
  text-align: center;
  height: 100%;
  width: 100%;
  left: 0;
  z-index: 800;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-179deg);
  /* setting to 180 causes an unnatural-looking half-flip */
  transform: rotateY(-179deg);
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -- transition is the magic sauce for animation -- */
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

/* modal box for add category */
.ui-widget-overlay {
  background-color: #333!important;
  background-image: none!important;
}
.ui-corner-all {
  border: 0!important;
  border-radius: 0!important;
}
.ui-widget-header {
  border: 0!important;
  background: none!important;
}
.ui-widget-header {
  line-height: 30px;
  font-family: 'Roboto Condensed';
  font-weight: 300;
  text-transform: uppercase;
}
.ui-draggable .ui-dialog-titlebar {
  cursor: default!important;
  font-weight: 300;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 0!important;
  background: none!important;
}
.ui-widget input[type=text] {
  border: 1px solid #e1e1e1!important;
  width: 272px;
  margin: 0 auto;
  padding: 10px 20px;
}
.ui-dialog .ui-dialog-content {
  height: 100%!important;
}
.ui-widget-content {
  border: 0!important;
}
.ui-dialog .ui-dialog-buttonpane button {
  background-color: #429ba8!important;
  color: #fff;
  border: 0;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0!important;
  width: 100%;
  font-family: 'Roboto Condensed';
  font-size: 16px;
  font-weight: 300;
}
.ui-dialog .ui-dialog-buttonpane button:hover {
  background-color: #7b818d!important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
  float: none!important;
}
.ui-dialog .ui-dialog-buttonpane {
  padding: .3em 1em 1em 1em!important;
}
.ui-button-text-only .ui-button-text {
  padding: .8em 1em!important;
  text-transform: uppercase;
}


/*********/
/* LOGIN */
/*********/
#wrapWrap {
    position: absolute;
    top: 70px;
    left: 50%;
    height: 365px;
    width: 250px;
    margin-left: -125px;
}
#wrapWrap img.logo{
  width: 100%;
  margin-bottom: 30px;
}
#wrapWrap input{
  font-family: 'Roboto Condensed';
  display: block;
  width: 100%;
  height: 50px;
  border: 1px solid #45494f;
}

#wrapWrap #id_username {
  border: 1px solid #e1e1e1;
  width: 248px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-indent: 20px;
}
#wrapWrap #id_password {
  border: 1px solid #e1e1e1;
  width: 248px;
  margin-bottom: 30px;
  text-indent: 20px;
}
#wrapWrap .userName p, #wrapWrap .password p{
  text-indent: 20px;
}
#wrapWrap .login {
  background-color:#45494f;
  color: #fff;
  border:0;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
#wrapWrap .singup{
  background-color: #429ba8;
  color: #fff;
  border:0;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 0;
}
#wrapWrap .login:hover,
#wrapWrap .singup:hover {
  background-color: #7b818d;
}

/**********/
/*REGISTER*/
/**********/
#registerWrap {
    position: absolute;
    top: 70px;
    left: 50%;
    height: 600px;
    width: 250px;
    margin-left: -125px;
}
#registerWrap img.logo{
  width: 100%;
  margin-bottom: 30px;
}
#registerWrap h2 {
  font-size: 15px;
  color: #45484f;
  text-align: center;
  line-height: 20px;
}
#registerWrap h2 span {
  text-transform: uppercase;
  color: #79bfc7;
}
#registerWrap h3 {
  text-align: center;
  margin-bottom: 20px;
}
#registerWrap label {
  color: #45484f;
  display: block;
  margin-bottom: 5px;
}
#registerWrap input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 0;
  -webkit-appearance: none;
  border-radius: 0;
}
#registerWrap input#id_username {
  border: 1px solid #e1e1e1;
  text-indent: 20px;
}
#registerWrap input#id_email {
  border: 1px solid #e1e1e1;
  text-indent: 20px;
}
#registerWrap input#id_password {
  border: 1px solid #e1e1e1;
  text-indent: 20px;
}
#registerWrap input[type="submit"] {
  background-color:#429ba8;
  color: #fff;
  border:0;
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  display: block;
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  cursor: pointer;
}
#registerWrap input[type="submit"]:hover {
  background-color: #7b818d;
}
#registerWrap label.css-label {
  margin-bottom: 30px;
}
#registerWrap a {
  color: #79bfc7;
  text-decoration: underline;
}
#wrapWrap .errorlist,
#registerWrap .error {
  color: #f69c60;
  margin: 20px 0;
  display: block;
  width: 100%;
  text-align: center;
}
#registerWrap .css-checkbox {
  visibility: hidden;
}