#container{
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 96px;
  left: 96px;
  width: 100%;
  height: 100%;
}

#main {
  overflow: hidden;
  position: relative;
  top: 20px;
}
/**
 * Grid items animation
 */
#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/**
 * Filters
 */

#filters li {
  font-size: 12px;
  padding: 6px 0 4px 0;
  cursor: pointer;
  margin: 0 1% 0 1%;
  -webkit-transition: all 0.15s ease-out;
     -moz-transition: all 0.15s ease-out;
       -o-transition: all 0.15s ease-out;
          transition: all 0.15s ease-out;
}

#filters li a:hover {
  background: #45494f;
  color: #ffffff;
}

#filters li a.active {
  background: #a0a7b3;
  color: #ffffff;
}
