{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <link rel="icon" href="{% static "img/favicon-16.png" %}" sizes="16x16">
  <link rel="icon" href="{% static "img/favicon-32.png" %}" sizes="32x32">
  <link rel="icon" href="{% static "img/favicon-48.png" %}" sizes="48x48">
  <link rel="icon" href="{% static "img/favicon-64.png" %}" sizes="64x64">
  <link rel="icon" href="{% static "img/favicon-128.png" %}" sizes="128x128">

  <title>Save Your Page</title>

  <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300italic,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>

  <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection" />
  <link rel="stylesheet" media="screen, projection" href="{% static "css/fancySelect.css" %}">
  <link rel="stylesheet" href="{% static "css/main.css" %}">
  <link rel="stylesheet" href="{% static "css/wookmark.css" %}">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
  <style>
    .ui-dialog {
      z-index: 1003;
    }
    .ui-widget-overlay {
      z-index: 1002;
    }
    .ui-widget input[type=text] {
        border: 1px solid #333;
    }
  </style>
</head>

<body>
  <header><a href="{% url 'home' %}"><img class="logo" src="{% static "img/logo.svg" %}" alt="" /></a></header>

  <div class="navbar">
    <div id="menu-btn" class="link">
      <span class="active"></span>
      <span class="hover"><span class="valign">menu</span></span>
    </div>
    <div id="menu">
      <div id="add" class="link">
        <span class="active"></span>
        <span class="hover"><span class="valign plus">add</span></span>
        <input id="paste-url" type="text" placeholder="Paste your link here" />
        <select id="dot">
          {% for cat in categories %}
            <option value="{{ cat.id }}">{{ cat.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div id="categories" class="link expand-link">
        <span class="active"></span>
        <span class="hover"><span class="valign">categories</span></span>
      </div>
      <div id="settings" class="link expand-link">
        <span class="active"></span>
        <span class="hover"><span class="valign">settings</span></span>
      </div>
      <div id="about" class="link expand-link">
        <span class="active"></span>
        <span class="hover"><span class="valign">about</span></span>
      </div>
      <div id="donate" class="link expand-link">
        <span class="active"></span>
        <span class="hover"><span class="valign">donate</span></span>
      </div>
      <div id="search" class="link">
        <form method="POST">{% csrf_token %}
            <span class="active"></span>
            <input id="search-text" name="query" type="text" placeholder="Search" autocomplete="off"/>
            <span class="hover"><input type="submit" value="" /><span class="valign">
                Search
            </span></span>
        </form>
      </div>
      <div id="logout" class="link">
        <span class="active"></span>
        <span class="hover"><span class="valign">logout</span></span>
      </div>
    </div>
  </div>

  <div class="expand-section">
    <div class="categories expand-block expand-link">
      <div class="col-one-all">
        <ul class="category-list" id="filters">
          {% for cat in categories %}
            <li><a data-filter="{{ cat }}" href="#">{{ cat }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="settings expand-block expand-link">
      <h3>category <span>editor</span></h3>
      <div class="col-one-half">
        <div class="btn-line">
          <button class="default-btn" id="add_category">{% trans "Add a category" %}</button>
          <button class="default-btn" id="rename_category">{% trans "Rename" %}</button>
          <button class="default-btn" id="delete_category">{% trans "Delete" %}</button>
        </div>
        <ul class="folder category-name">
          {% for cat in categories %}
            <li data-category-id="{{ cat.id }}">
              <input id="box_{{ forloop.counter0 }}" class="css-checkbox" type="checkbox" />
              <label for="box_{{ forloop.counter0 }}" name="lbl_{{ forloop.counter0 }}" class="css-label">
                <span class="icon-folder"></span>{{ cat }}
              </label>
            </li>
          {% endfor %}
        </ul>
        <div class="btn-line">
          <button class="default-btn large">save changes</button>
        </div>
      </div>
      <div class="col-one-half">
        <div class="clearfix"></div>
        <form class="feedback">
          <input type="email" placeholder="Email" />
          <textarea placeholder="Say how do you like us:)"></textarea>
        </form>
        <div class="btn-line" style="text-align:right">
          <button class="success-btn large">leave feedback</button>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="about expand-block expand-link">
      <h3>about <span>us</span></h3>
      <div class="col-one-half">
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit.</p>

        <p>That's who we are;)</p>
      </div>
      <div class="col-one-half">
        <div class="card-container col-one-half">
          <div class="card hover">
            <div class="front">
              <img src="{% static "img/nick-front.jpg" %}" />
            </div>
            <div class="back">
              <img src="{% static "img/nick-back.jpg" %}" />
            </div>
          </div>
          <h3>Nikita Morachov</h3>
          <p>frontend/css</p>
        </div>

        <div class="card-container col-one-half">
          <div class="card hover">
            <div class="front">
              <img src="{% static "img/kori-front.jpg" %}" />
            </div>
            <div class="back">
              <img src="{% static "img/kori-back.jpg" %}" />
            </div>
          </div>
          <h3>Hrystya Novachuk</h3>
          <p>designer</p>
        </div>
        <div class="clearfix"></div>
        <div id="gertruda" class="card-container col-one-half">
          <div class="card hover">
            <div class="front">
              <img src="{% static "img/gertruda-front.jpg" %}" />
            </div>
            <div class="back">
              <img src="{% static "img/gertruda-back.jpg" %}" />
            </div>
          </div>
          <h3>Gertruda Fon Narcco</h3>
          <p>ui/ux designer</p>
        </div>

      </div>
      <div class="clearfix"></div>
    </div>
    <div class="donate expand-block expand-link">
      <h3>This is <span>the donate page</span><br/>
      <label>Please fill in the compulsory fields noted with an asterisk</label></h3>
      <div class="col-one-half">
        <h3>contributor</h3>
        <div class="donate-info">
          <div class="input-block mar-right">
            <label class="lable-info">* First name</label>
            <input type="first-name" />
          </div>
          <div class="input-block">
            <label class="lable-info">* Last name</label>
            <input type="last-name" />
          </div>
          <div class="input-block wide">
            <label class="lable-info">* Address</label>
            <input type="address" />
          </div>
          <div class="input-block wide">
            <label class="lable-info">* City</label>
            <input type="address" />
          </div>

          <div class="input-block mar-right">
            <label class="lable-info">* State</label><br/>
            <label class="dropdown">
              <select>
                <option>Alabama</option>
                <option>Alaska</option>
                <option>Arizona</option>
                <option>Arkansas</option>
                <option>California</option>
                <option>Colorado</option>
                <option>Connecticut</option>
                <option>Delaware</option>
                <option>Florida</option>
                <option>Geogria</option>
                <option>Hawaii</option>
                <option>Idaho</option>
                <option>Illinois</option>
                <option>Indiana</option>
                <option>Iowa</option>
                <option>Kansas</option>
                <option>Kentucky</option>
                <option>Louisiana</option>
                <option>Maine</option>
                <option>Maryland</option>
                <option>Massachuetts</option>
                <option>Michigan</option>
                <option>Minnesota</option>
                <option>Mississippi</option>
                <option>Missouri</option>
                <option>Montana</option>
                <option>Nebraska</option>
                <option>Nevada</option>
                <option>New Hampshirr</option>
                <option>New Jersey</option>
                <option>New Mexico</option>
                <option>New York</option>
                <option>North Carolina</option>
                <option>North Dakota</option>
                <option>Ohio</option>
                <option>Oklahoma</option>
              </select>
            </label>
          </div>

          <div class="input-block">
            <label class="lable-info">* Zip</label>
            <input type="address" />
          </div>

          <div class="input-block mar-right">
            <label class="lable-info">* Email</label>
            <input type="address" />
          </div>

          <div class="input-block">
            <label class="lable-info">* Phone number</label>
            <input type="address" />
          </div>
        </div>

        <h3>Select amount</h3>
        <ul class="donate-select">
          <li>
            <input type="radio" name="radiog_lite" id="radio1" class="css-checkbox" />
            <label for="radio1" class="css-label">$10</label>
          </li>
          <li>
            <input type="radio" name="radiog_lite" id="radio2" class="css-checkbox" checked="checked"/>
            <label for="radio2" class="css-label">$25</label>
          </li>
          <li>
            <input type="radio" name="radiog_lite" id="radio3" class="css-checkbox" />
            <label for="radio3" class="css-label">$50</label>
          </li>
          <li>
            <input type="radio" name="radiog_lite" id="radio4" class="css-checkbox" />
            <label for="radio4" class="css-label">$100</label>
          </li>
          <li>
            <input type="radio" name="radiog_lite" id="radio5" class="css-checkbox" />
            <label for="radio5" class="css-label">$250</label>
          </li>
          <li>
            <input type="radio" name="radiog_lite" id="radio6" class="css-checkbox" />
            <label for="radio6" class="css-label">$500</label>
          </li>
          <li>
            <input type="radio" name="radiog_lite" id="radio7" class="css-checkbox" />
            <label for="radio7" class="css-label">$1000</label>
          </li>
        </ul>
        <div class="donate-select">
          <label class="lable-info">Other</label>
          <input class="donate-other" type="donate" />
          <span>USD</span>
        </div>
        <h3>Credit card</h3>
        <img class="creditcards" src="{% static "img/creditcards.jpg" %}" alt="" />
        <div class="card-info">
          <label class="info">Card number</label>
          <input type="card-number" placeholder="xxxx - xxxx - xxxx - xxxx" />
        </div>
        <div class="card-info date">
          <label class="info">Expiration</label>
          <label class="dropdown">
            <select>
              <option value="">Month</option>
              <option>January</option>
              <option>February</option>
              <option>March</option>
              <option>April</option>
              <option>May</option>
              <option>June</option>
              <option>July</option>
              <option>August</option>
              <option>September</option>
              <option>October</option>
              <option>November</option>
              <option>December</option>
            </select>
          </label>

          <label class="dropdown">
            <select>
              <option value="">Year</option>
              <option>2014</option>
              <option>2015</option>
              <option>2016</option>
              <option>2017</option>
              <option>2018</option>
              <option>2019</option>
              <option>2020</option>
            </select>
          </label>
        </div>
        <div class="card-info">
          <input id="box_20" class="css-checkbox" type="checkbox" checked="checked"/>
          <label for="box_20" name="lbl_20" class="css-label">Make this a monthly recurrig donation</label>
        </div>
        <div class="btn-line">
          <button class="success-btn large">donate</button>
        </div>
      </div>
      <div class="col-one-half">
        <h3>HELP <span>OUR PROJECT TO LIVE!</span></h3>
        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>

        <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris.</p>
        <br/><br/>
        <p>Thank You! <br/>
        And best regards from our team ;)</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <div id="container">
    <div id="main" role="main">
      <ul id="tiles">
        {% for page in pages %}
          <li data-filter-class='["{{ page.category }}"]' id="{{ page.id }}">
            <a href="{{ page.url }}" target="_blank">
                <img class="image" src="{{ page.image_url }}" width="200"/>
            </a>
            <p>{{ page.title }}</p>
            <span>{{ page.category }}</span>
            <div class="options">
              <a class="delete" href="#"></a>
              <a class="share" href="{{ page.url }}"></a>
            </div>
          </li>
        {% endfor %}
        <!-- End of grid blocks -->
      </ul>
    </div>
  </div>

  <div id="new-category-dialog" class="ui-widget" title="{% trans 'Create new category' %}">
      <input type="text" name="category-name">
  </div>

  <div id="rename-category-dialog" class="ui-widget" title="{% trans 'Rename category' %}">
      <input type="text" name="category-name">
  </div>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
<script type="text/javascript" src="{% static "js/fancySelect.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.imagesloaded.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.wookmark.min.js" %}"></script>
<script type="text/javascript">
$(document).ready(function(){
  $.extend($.ui.dialog.prototype.options, {
    create: function() {
        var $this = $(this);

        // focus first button and bind enter to it
        $this.parent().find('.ui-dialog-buttonpane button:first').focus();
        $this.keypress(function(e) {
            if( e.keyCode == $.ui.keyCode.ENTER ) {
                $this.parent().find('.ui-dialog-buttonpane button:first').click();
                return false;
            }
        });
    }
  });

  // EXPAND-BLOCKS SIZE
  // expand-block size
  function WidthHeight() {
    var margin = parseInt($('#container').css('margin-top')),
        widthContainer = ($(window).width() - 96),
        heightContainer = ($(window).height() - 96),
        widthMain = ($(window).width() - 116),
        heightMain = ($(window).height() - 101);
    $('.expand-block').css({width: widthContainer});
    $('.expand-section > .about').css('height', heightContainer);
    $('.expand-section > .donate').css('height', heightContainer);
    $('#container').css({width: widthContainer, height: heightContainer - margin * 2 });
    $('#main').css({width: widthMain});
  }

  WidthHeight();
  ScrollExpandBlock();

  // expand-block on resize
  $(window).resize(function() {
    WidthHeight();
    ScrollExpandBlock();
  });

  function ScrollExpandBlock(){
    var heightContainer = ($(window).height() - 96);
    if ($(window).width() < 993) {
      $('.expand-section > .categories').css('height', heightContainer);
      $('.expand-section > .settings').css('height', heightContainer);
    }
  }

  // MENU ITEMS
  // mobile menu
  $('#menu-btn').on('touch', function(){
    $('#menu').toggleClass('active');
  });

  // expand menu buttons
  $('.expand-link').hover(
    function() {
      var clickedItem = $(this).attr('id');
      $(this).addClass('hovered');
      $('.expand-section').addClass('hovered');
      $('.expand-section .'+clickedItem).addClass('hovered');
    },
    function() {
      var clickedItem = $(this).attr('id');
      $(this).removeClass('hovered');
      $('.expand-section').removeClass('hovered');
      $('.expand-section .'+clickedItem).removeClass('hovered');
    }
  );

  // menu buttons
  $('.link').hover(
    function() {
      if (window.blockUntilHidden) {
          return;
      }
      $(this).addClass('hovered');
    },
    function() {
      $(this).removeClass('hovered');
    }
  );

   function addPageMenuHoverOut() {
      var $this = $(this),
          timer = $this.data("timer") || 0;

      clearTimeout(timer);

      $this.removeClass("hovered");
      var timer = setTimeout(function() {
        $this.removeClass("expand");

        var timer2 = setTimeout(function() {
          window.blockUntilHidden = false;
        }, 200);
        $this.data("timer2", timer2);
      }, 200);

      $this.data("timer", timer);

    }

  // expand add menu button
  $("#add").hover(
    function () {
      if (window.blockUntilHidden) {
          return;
      }

      var $this = $(this),
          timer = $this.data("timer") || 0;

      clearTimeout(timer);
      $this.addClass("hovered");

      timer = setTimeout(function() {
        $this.addClass("expand");
      }, 200);

      $this.data("timer", timer);
    },
    addPageMenuHoverOut
  );

  // expand search menu button
  $("#search").hover(
    function () {
      var $this = $(this),
          timer = $this.data("timer") || 0;

      clearTimeout(timer);
      $this.addClass("hovered");

      timer = setTimeout(function() {
        $this.addClass("expand");
      }, 200);

      $this.data("timer", timer);
    },
    function () {
      var $this = $(this),
          timer = $this.data("timer") || 0;

      clearTimeout(timer);
      $this.removeClass("hovered");
      timer = setTimeout(function() {
        $this.removeClass("expand");
      }, 200);

      $this.data("timer", timer);
    }
  );

  // fancy select dropdown
  var dot = $('#dot');
  dot.fancySelect();

  // fancy select dropdown for mobile
  dot.on('focus', function() {
      $(this).parent().addClass('hovered');
  }).on('blur', function() {
      $(this).parent().removeClass('hovered');
  });

  // Initialize card flip
  $('.card.hover').hover(function(){
    $(this).addClass('flip');
  },function(){
    $(this).removeClass('flip');
  });

  $.ajaxSetup({
    data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
  });

  // wookmark
  $('#tiles').imagesLoaded(function() {
    // Prepare layout options.
    var options = {
      autoResize: true, // This will auto-update the layout when the browser window is resized.
      container: $('#main'), // Optional, used for some extra CSS styling
      offset: 20, // Optional, the distance between grid items
      itemWidth: 210, // Optional, the width of a grid item
      fillEmptySpace: false // Optional, fill the bottom of each column with widths of flexible height
    };


    // Get a reference to your grid items.
    var handler = $('#tiles li'),
        filters = $('#filters li a');

    // Call the layout function.
    handler.wookmark(options);

    $('#tiles li .image').click(function(){
        //var url = $(this).parent().children('.controls').children('a').attr('href');
        //window.open(url,'_blank');
    });

    /**
     * When a filter is clicked, toggle it's active state and refresh.
     */
    var onClickFilter = function(event) {
      var item = $(event.currentTarget),
          activeFilters = [];

      if (!item.hasClass('active')) {
        filters.removeClass('active');
      }
      item.toggleClass('active');

      // Filter by the currently selected filter
      if (item.hasClass('active')) {
        activeFilters.push(item.data('filter'));
      }

      window.blockUntilHidden = true;
      var timer = setTimeout(function() {
          window.blockUntilHidden = false;
      }, 200);
      $('#categories.link').mouseout();
      $(this).data("timer", timer);


      handler.wookmarkInstance.filter(activeFilters);
    };

    // Capture filter click events.
    filters.click(onClickFilter);

    function setPageHandlers() {
        $('#tiles .delete').click(function(e){
          var element = $(this.parentNode.parentNode);
          if (confirm('Are you really want to delete this Page?')) {
            $.ajax({
              method:'POST',
              url: '{% url "delete_page" %}',
              data: {
                id: element.attr('id')
              }
            });
            element.remove();
            $('#tiles li').wookmark(options);
          }
          e.preventDefault();
        });
    }
    setPageHandlers();

    // save url
    $('span.plus').click(function(e) {
      var category = $('select#dot').val();
      var url_input = $('input#paste-url');
      var url = url_input.val();

      $.ajax({
        method: 'POST',
        url: '{% url "add_page" %}',
        data: {
            url: url,
            category: category
        }
      }).done(function(json){
        var data = $.parseJSON(json);
        var img_url = data.img_url,
            page_id = data.page_id,
            page_title = data.title,
            cat_name = data.cat_name;

        $('ul#tiles').append(
          '<li data-filter-class=\'["' + cat_name + '"]\' id="' + page_id + '">' +
          '<a href="' + url + '" target="_blank">' +
            '<img src="' + img_url + '" width="200"/>' +
          '</a>' +
          '<p>' + page_title + '</p>' +
          '<span>' + cat_name + '</span>' +
          '<div class="options">' +
            '<a class="delete" href="#"></a>' +
            '<a class="share" href="#"></a>' +
          '</div>' +
          '</li>');
        $('#tiles li').wookmark(options);
        setPageHandlers();
      });
      url_input.val('');
      window.blockUntilHidden = true;
      $('.link').mouseout();
      e.preventDefault();
    });

  });

  $('#new-category-dialog').dialog({
    height: 300,
    width: 350,
    modal: true,
    autoOpen: false,
    buttons: {
      "{% trans "Create category" %}": function() {
        var category_name = $(this).find('input[name="category-name"]').val();
        $.ajax({
          method: 'POST',
          url: '{% url "add_category" %}',
          data: {
            name: category_name
          }}).done(function() {
            location.reload()
          });

        $( this ).dialog( "close" );
      }
    }
  });

  $('#add_category').click(function(){
    $('#new-category-dialog').dialog('open');
  });

  $('#rename-category-dialog').dialog({
    height: 300,
    width: 350,
    modal: true,
    autoOpen: false,
    buttons: {
      "{% trans "Rename category" %}": function() {
        var checked = $('.folder li input:checked');
        if (checked.length != 1)
          return;
        var category_id = checked.parent().attr('data-category-id');
        var category_name = $(this).find('input[name="category-name"]').val();
        $.ajax({
          method: 'POST',
          url: '{% url "rename_category" %}',
          data: {
            id: category_id,
            name: category_name
          }}).done(function() {
            location.reload()
          });
        $( this ).dialog( "close" );
      }
    }
  });

  $('#rename_category').click(function(){
    $('#rename-category-dialog').dialog('open');
  });

  $('#delete_category').click(function(){
    $('.folder li input:checked').each(function() {
      var category_id = $(this).parent().attr('data-category-id');
      $.ajax({
        method: 'POST',
        url: '{% url "delete_category" %}',
        data: {
          id: category_id
        }}).done(function() {
          location.reload()
        });
      $( this ).dialog( "close" );
    });
  });

  $('#logout').click(function() {
    window.location.href='{% url 'log_out' %}';
  });
});
</script>
</body>
</html>
