{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>Save Your Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Expand, contract, animate forms with jQuery wihtout leaving the page" />
    <meta name="keywords" content="expand, form, css3, jquery, animate, width, height, adapt, unobtrusive javascript"/>
    <link rel="shortcut icon" href="../favicon.ico" type="image/x-icon"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/cufon-yui.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/ChunkFive_400.font.js' %}" type="text/javascript"></script>
    <script type="text/javascript">
        Cufon.replace('h1',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h2',{ textShadow: '1px 1px #fff'});
        Cufon.replace('h3',{ textShadow: '1px 1px #000'});
        Cufon.replace('.back');
    </script>
</head>

<body>
    <div id="registerWrap" class="wrapper">
        <img class="logo" src="{% static "img/logo.svg" %}" alt="" />
        <h2>Leave here interesting pages <br/><span>not to forget</span> to read them later</h2>
        <div class="content">
            <div id="form_wrapper" class="form_wrapper">
                <form class="register active" name='register' action="/register_user" method='POST'>
                    {% csrf_token %}
                    {% if form.errors %}
                        <span class="error">{{ form.errors }}</span>
                    {% endif %}
                    {% for message in messages %}
                    <span class="error">{{ message }}</span>
                    {% endfor %}
                    <h3>Register</h3>
                    <label>Username:</label>
                    {{ form.username }}
                    <label>Email:</label>
                    {{ form.email }}
                    <label>Password:</label>
                    {{ form.password }}
                    <input id="box_1" class="css-checkbox" type="checkbox" checked="checked" />
                    <label for="box_1" name="lbl_1" class="css-label">Send me updates</label>
                    <input type="submit" value="Register" />
                    <h2>You have an account already? Log in <a href="/" rel="login" class="linkform">here</a></h2>
                </form>
            </div>
        </div>
    </div>

    <!-- The JavaScript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <script type="text/javascript">
        $(function() {
                //the form wrapper (includes all forms)
            var $form_wrapper	= $('#form_wrapper'),
                //the current form is the one with class active
                $currentForm	= $form_wrapper.children('form.active'),
                //the change form links
                $linkform		= $form_wrapper.find('.linkform');

            //get width and height of each form and store them for later
            $form_wrapper.children('form').each(function(i){
                var $theForm	= $(this);
                //solve the inline display none problem when using fadeIn fadeOut
                if(!$theForm.hasClass('active'))
                    $theForm.hide();
                $theForm.data({
                    width	: $theForm.width(),
                    height	: $theForm.height()
                });
            });

            //set width and height of wrapper (same of current form)
            setWrapperWidth();

            /*
            clicking a link (change form event) in the form
            makes the current form hide.
            The wrapper animates its width and height to the
            width and height of the new current form.
            After the animation, the new form is shown
            */
            $linkform.bind('click',function(e){
                var $link	= $(this);
                var target	= $link.attr('rel');
                $currentForm.fadeOut(400,function(){
                    //remove class active from current form
                    $currentForm.removeClass('active');
                    //new current form
                    $currentForm= $form_wrapper.children('form.'+target);
                    //animate the wrapper
                    $form_wrapper.stop()
                                 .animate({
                                    width	: $currentForm.data('width') + 'px',
                                    height	: $currentForm.data('height') + 'px'
                                 },500,function(){
                                    //new form gets class active
                                    $currentForm.addClass('active');
                                    //show the new form
                                    $currentForm.fadeIn(400);
                                 });
                });
                e.preventDefault();
            });

            function setWrapperWidth(){
                $form_wrapper.css({
                    width	: $currentForm.data('width') + 'px',
                    height	: $currentForm.data('height') + 'px'
                });
            }

            /*
            for the demo we disabled the submit buttons
            if you submit the form, you need to check the
            which form was submited, and give the class active
            to the form you want to show
            */
            $form_wrapper.find('input[type="submit"]')
                         .click(function(e){
                            e.preventDefault();

        })
    </script>
</body>
</html>