html{
    font-family:"Open Sans Condensed";
}
a{
    text-decoration: none;
}
a:visited{
    color: #000000;
}
body{
 
}
/*********    HEADER         *********/

header {
       min-width:800px;
    height: 86px;
    width: 100%;
    /*position: absolute;*/
    display: inline-flex;
    display: -ms-flexbox;
    position: fixed;
    z-index: 10;
}
header button{
    background-image: url("/static/sample-images/add-01.svg");
    background-repeat: no-repeat;
    background-position: 20px center;
    background-size: 60px 60px;
    background-color: #BDEFF6;
    height: 100%;
    border: none;
    width: 100px;
    display: block;
    display: -ms-flexbox;
    padding: 0;
    min-width: 100px;
/*    max-width: 86px;*/
    text-align: -moz-center;
    margin: 0 auto;
    text-align: center!important;
    /*position: absolute;*/

    font-size: 10em;
    line-height: 55px;
    color: #ffffff ;
}

header form select {
    width: 140px;
}

header form{
    width:525px;
}

#url{
    position: absolute;
    left: -425px;
    -webkit-transition: left .5s 0s ;
   -moz-transition: left .5s 0s ;
    -ms-transition: left .5s 0s ;
     -o-transition: left .5s 0s ;
        transition: left .5s 0s ;
        /*float: left;*/
    /*width: 110px;*/
    min-width: 425px;
    height: 86px;
    overflow: hidden;
    /*position: relative;*/
    display: flex;
    display: -ms-flexbox;
/*    width: 35%;*/
/*    min-width: 450px;*/
/*    position: fixed;*/
  /*  min-width: 400px;*/
/*    left: -532px;*/
    /*margin-*/
/* left: 0;*/

}

/*#url:hover{
    width: 800px;
}
*/
/*header select:active{
    left:335px;
}*/


#search{
    min-width: 100px;
}
#search_button{

    background-image: url("/static/sample-images/find-02.svg");
    background-color: #464950;
    background-repeat: no-repeat;
    background-position: 15px 15px;
    background-size: 60px 60px;
    float:right;
}


header #search{

    float: right;
    height: 100%;
    overflow: hidden;
    width: 6%;
    position: relative;
    display: flex;
    background-color: #464950;


}
header #search input{
  /*  display: none;*/
    width: 0;
}

#styled_select select option{
    position: fixed;
}

header #styled_select{
/*    margin-right: 50px;*/
    background-color: #F69C60;
    border:none;
    height: 100%;
/*    min-width: 100px;*/
    overflow: hidden;
    line-height: 86px;
    text-align: center;
    background-size: 10px 10px;
    background-repeat: no-repeat;
    background-position: right center;
}

header #url select{
    border:none;
    height: 86px;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-size: 2.5em;
    font-family:"Open Sans Condensed";
    min-width: 140px;
    padding-top: 18px;
}

header input{
/* max-width: 300px;*/
    height: 100%;
    border: none;
    width: 100%;
    background-color: #464950;
    font-size: 2em;
    font-style: italic;
    display: inline-block;
    color: #5B5E63;
    /*padding-left: 30px;*/
}

header #logo{
    background-image: url("/static/sample-images/logo.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 450px auto;
    text-align: center;
    font-size: 2em;
    width: 100%;
    color: #919BA7;
    height: 100%;
    background-color: #F4F4F4;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 86px;
    margin: 0;
}
#url:active{
    left: 0px;
}
#url:hover{
left: 0px;
}




#logo strong{
    color: #45484F;
    text-decoration: none;
}
#url select option{
    left: -17px;
}
/*-------------END of HEADER---------------*/
nav{
/*    max-height: 600px;*/
    height: 100%;
    margin-top: -3px;
    background-color: #464950;
    height: 100%;
    width: 100px;
    position: fixed;
    text-align: center;
    top:89px;
    overflow: hidden;
}

nav div{
     display: block;
     height: 100px;
     vertical-align: middle;
     line-height: 100px;
     font-size: 1.5em;
 }

 #profile > span,  #folders > span,  #gopro > span{
     padding-right: 2%;
 }

@keyframes urlTrans {
from {max-width: 100px;}
to   {max-width: 500px;}

}
/*}*/

@keyframes navigation
{
    0%   {line-height: 150px;background-position: 30px 15px; background-size: 40px 40px}
    100% {line-height: 300px;background-position: 10px 10px; background-size: 80px 80px}
}

@-webkit-keyframes navigation /* Safari and Chrome */
{
    0%   {line-height: 150px;background-position: 30px 15px; background-size: 40px 40px}
    100% {line-height: 300px;background-position: 10px 10px; background-size: 80px 80px}
}

@keyframes search
{
    0%   {width:0;}
    100% {width:500px;}
}

@-webkit-keyframes search /* Safari and Chrome */
{
    0%   {width:0;}
    100% {width:500px;}
}

@keyframes searchbutton
{
    0%   {background-color: #464950}
    100% {background-color: #F69C60}
}

@-webkit-keyframes searchbutton /* Safari and Chrome */
{
    0%   {background-color: #464950}
    100% { background-color: #F69C60}
}

#folders{
    background-image: url("/static/sample-images/info.svg") !important;
    background-color: #51BFCE;
    background-color: #38828D;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    background-position: 30px 15px;
    line-height: 150px;
    color: #fff;
    cursor: pointer;
    overflow: hidden;
}


#folders:hover, #archive:hover, #profile:hover, #gopro:hover{
    background: #4281f5;
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    /*background-position: 30px 15px;*/
    /*line-height: 150px;*/
    animation: navigation 0.5s;
    -webkit-animation: navigation 0.5s; /* Safari and Chrome */
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
    /*-webkit-animation-fill-mode: forwards;*/
    /*-webkit-animation-iteration-count: 1;*/
}

#archive{
    background-image: url("/static/sample-images/categories-04.svg") !important;
    background-color: #51BFCE;
    /*background-color: #439BA9;*/
    background-repeat: no-repeat;
    background-size: 40px 40px;
    overflow: hidden;
    color: #fff;
    background-position: 30px 15px;
    line-height: 150px;
}

#search:hover{
    width: 500px;
}
#search:hover > input{
    animation: search 1.1s;
    animation-fill-mode: both;
    -webkit-animation: search 1s; /* Safari and Chrome */
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
}
#search:hover > button{
    /*background-image:none !important;*/
    animation: searchbutton 0.5s;
    -webkit-animation: searchbutton 0.5s; /* Safari and Chrome */
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
}

#profile{
    background-color: #439BA9;
    background-image: url("/static/sample-images/settings-05.svg") !important;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    color: #fff;
    background-position: 30px 15px;
    line-height: 150px;
    overflow: hidden;
}

#gopro{
    margin-top: 75%;
/*    position: absolute;*/
    cursor: pointer;
    background-color: #C09626;
    background-image: url("/static/sample-images/coin.svg") !important;
    background-repeat: no-repeat;
    background-size: 40px 40px;
    color: #fff;
    background-position: 30px 15px;
    line-height: 150px;
    overflow: hidden;
    z-index: 300;
}

/*#space{
    height: 20%;
    overflow: hidden;
}*/
#filters{
    display: none;
}

#settings_div{
    width: 93%;
    /*border-bottom: 1px solid darkblue;*/
    height: 395px;
    display: inline-block;
    position: fixed;
    z-index: 10;
    top:-450px;
    left: 100px;
    padding: 20px 20px 20px 20px;
    text-transform: uppercase;
    background-color: #fff;
}


#settings_header{
    margin:20px;
    font-size: 1.4em;
}
#settings_div button{
    border: none;
    background-color: #464950;
    color: #ffffff;
    padding: 15px;
    margin: 15px 5px;
    height: 50px;
}

#sign_out{
    float:right;
    padding: 10px 35px !important;
    position: relative;
    right: 4%;
}
@font-face{
      font-family: 'WebSymbolsLigaRegular';
          src: url('websymbolsligaregular.eot');
          src: url('websymbolsligaregular.eot?#iefix') format('embedded-opentype'),
               url('websymbolsligaregular.woff') format('woff'),
               url('websymbolsligaregular.ttf') format('truetype'),
               url('websymbolsligaregular.svg#WebSymbolsRegular') format('svg');

}
.radio{
    display: none;
}
.radio:checked ~ label{
    background-color: red;

}
.arrow{
    font: 5em 'WebSymbolsLigaRegular';
    display: inline-block;
    -webkit-transform:  rotate(-90deg);
    -moz-transform:  rotate(-90deg);
    overflow: hidden;
    position: fixed;
    left:84px;
    z-index: 11;
    border: none;
    color: #38828D;

}

#savechanges{
    position: relative;
    display: inline-block;
    top:100px;
    margin-left: 0;
}

#categories_div{
    width: 93%;
    height: 395px;
    display: inline-block;
    position: fixed;
    z-index: 10;
    top:-450px;
    left: 100px;
    padding: 20px 20px 20px 20px;
    text-transform: uppercase;
    background-color: #fff;
}



#settings_div:after{
    background-color: red;
}

#dim_backgorund{
    display: block;
    opacity: 0.3;
    z-index: 10;
    width: 94%;
    height: 100%;
    background-color: #000000;
    top:521px;
    left:100px;

    position: fixed;
}

#settings_div button:disabled{
    opacity: 0.1;
}

@keyframes settings_open
{
    0%   {top:-450px}
    100% {top: 86px;}
}

@-webkit-keyframes settings_open /* Safari and Chrome */
{
    0%   {top:-450px}
    100% {top: 86px;}
}


#settings_div:target{
    animation: settings_open 0.5s;
    -webkit-animation: settings_open 0.5s; /* Safari and Chrome */
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
}

/*#categories_div:target{*/
    /*animation: settings_open 0.5s;*/
    /*-webkit-animation: settings_open 0.5s; *//* Safari and Chrome */
    /*animation-fill-mode:forwards;*/
    /*-webkit-animation-fill-mode:forwards;*/
    /*-moz-animation-fill-mode:forwards;*/
/*}*/

#donate_div{
    width: 93%;
    height: 1024px;
    display: inline-block;
    position: absolute;
    z-index: 10;
    top:-1075px;
    left: 100px;
    padding: 20px 20px 20px 20px;
/*    text-transform: uppercase;*/
    background-color: #fff;
}
.close{
    animation: settings_close 0.5s;
    -webkit-animation: settings_close 0.5s; /* Safari and Chrome */
    animation-fill-mode:forwards;
    -webkit-animation-fill-mode:forwards;
    -moz-animation-fill-mode:forwards;
}

#category_items{
    height: 100%;
    width: 97%;
}

.item{
    font-size: 2em;
    display: inline-block;
    margin: 10px;
    width: 100px;
    padding: 10px 20px;
    text-align: center;
}

.item:hover{
    background-color: #464950;
    color:#fff;
    cursor: pointer;
}

#categories_arrow{
    font: 5em 'WebSymbolsLigaRegular';
    display: inline-block;
    -webkit-transform:  rotate(-90deg);
    -moz-transform:  rotate(-90deg);
    overflow: hidden;
    position: fixed;
    left:84px;
    z-index: 11;
    border: none;
    color: #439BA9;
    top:200px;
}

#page-cover {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
}
.link{
    background-image: url("/static/sample-images/link.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}
.remove{
    background-image: url("/static/sample-images/remove.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
}

/*form input{
    display: none;
}
#styled_select{
    display: none;
}*/

/*MEDIA QUERIES*/

/*@media screen and (min-width: 800px) {
    header{
        position: static;

    }
}*/

/*DONATE PAGE*/
         #donate_div {
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 200;
            color: #a0a7b3;
         }   

        #donate_div h1 {
            font-size: 1.4em;
        }
        #donate_div h2 {
            font-size: 1.3em;
        }
        #donate_div h3 {
            font-size: 1.2em;
        }

        #donate_div h4 {
            font-size: 1.1em;
        }
        #donate_div h1, h2, h3, h4 {
            font-family: 'Roboto Condensed';
            font-style: normal;
            font-weight: 200;
            text-transform: uppercase;
        }
        #donate_div input {
            background: #F4F4F4;
            border:none;
            height: 30px;
            padding-left: 5px;
            /*margin-bottom: 50px;*/
        }
       
        #donate_div .clr {
            clear: both;
        }
        #donate_div .data {
            float: left;
            padding: 50px 0 0 60px;
            width: 45%;
            margin-bottom: 50px;
        }
        #donate_div .help {
            float:left;
            padding-top: 135px;
            text-align: left;
            padding-right: 95px;
            margin-left: 100px;
            width: 30%;
        }
        #donate_div .heading {
            text-transform: uppercase;
            font-size: 1.3em;
        }
        #donate_div .data form {
            margin-top: 50px
            }
        #donate_div .fName {
            float: left;
            width: 210px;
            padding-right: 7px;
        }
        #donate_div .fName input{
            width: 205px;
        }
        #donate_div .lName {
            float: left;
            width: 210px;
        }
        #donate_div .adress input{
            width: 100%;
            margin-bottom: 5px;
        }

        #donate_div .city, .state, .zip {
            float:left;
        }
    #donate_div .city {
        width: 50%;
    }
    #donate_div .city input, .state input, .zip input, .eMail input, .phone input, .cardNumber input{
        width: 93%;
    }
    #donate_div .state{
        width: 18%;
    }

   #donate_div  .zip {
        width: 30%;
        margin-left: 2%;
    }

    #donate_div .eMail {
        float: left;
        width: 55%;
    }
    #donate_div .phone {
        width: 35%;
        float: left;
    }
    #donate_div .amount input{
        height: 0px;
        
    }

    #donate_div .cardNumber {
        float:left;
        width: 40%;
    }
    #donate_div .credit{

    }
    #donate_div .img{
        background-image: url(../images/cards.png);
        width: 232px;
        height: 40px;
    }
    #donate_div .check input {
        float:left;
    }
    #donate_div .check h3{
        padding-top: 5px;
        padding-left: 25px;
        
    }
      #donate_div .expiration {
          float:left;
          width: 60%
      }
    #donate_div .expiration input{
        float: left;
        width: 30%;
        margin-right: 10px;
    }
    
    #donate_div .btnSbmt, #donate_div .btnCncl{
        -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -webkit-border-top-left-radius:10px;
    -moz-border-radius-topleft:10px;
    border-top-left-radius:10px;
    -webkit-border-top-right-radius:10px;
    -moz-border-radius-topright:10px;
    border-top-right-radius:10px;
    -webkit-border-bottom-right-radius:10px;
    -moz-border-radius-bottomright:10px;
    border-bottom-right-radius:10px;
    -webkit-border-bottom-left-radius:10px;
    -moz-border-radius-bottomleft:10px;
    border-bottom-left-radius:10px;
    text-indent:0px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family: 'Roboto Condensed';
    font-size:19px;
    font-weight:bold;
    font-style:normal;
    height:40px;
    line-height:40px;
    width:90px;
    text-decoration:none;
    text-align:center;
    text-shadow:1px 1px 0px #ffffff;
    float: right;
    margin-left: 5px;
   /* margin-left: 25%;*/
}
    #donate_div .btnSbmt:hover, #donate_div .btnCncl:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
    #donate_div .btnSbmt:active, #donate_div .btnCncl:active{
    position:relative;
    top:1px;
    }
    
    #donate_div .btns {
        text-align: right;
    }
#donate_div span, #donate_div h2 {
    color: #45494f;
}
#donate_div .help p {
    color: #45494f;
    margin-bottom: 29px;
    line-height: 25px;
}
#donate_div .help p:first-child {
    color: #a0a7b3;
}
    /*END of DONATE PAGE*/
    

    /*Подключаем РОБОТО*/
    /**
* Include Roboto Condensed font in your project
*
* Download Roboto Condensed ttf files from Google Fonts and place it in the same directory of this CSS file
* You can then use this font in your project by setting
* font-face: "Roboto Condensed", Helvetica, Arial, sans-serif;
*
* @author Mattia Migliorini (deshack)
* @license GPLv3
*/
 
/* Light */
@font-face {
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 300;
src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url("RobotoCondensed-Light.ttf") format('truetype');
}
@font-face {
font-family: "Roboto Condensed";
font-style: italic;
font-weight: 300;
src: local('Roboto Condensed Light Italic'), local('RobotoCondensed-LightItalic'), url("RobotoCondensed-LightItalic.ttf") format('truetype');
}
 
/* Normal */
@font-face {
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 400;
src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url("RobotoCondensed-Regular.ttf") format('truetype');
}
@font-face {
font-family: "Roboto Condensed";
font-style: italic;
font-weight: 400;
src: local('Roboto Condensed Italic'), local('RobotoCondensed-Italic'), url("RobotoCondensed-Italic.ttf") format('truetype');
}
 
/* Bold */
@font-face {
font-family: "Roboto Condensed";
font-style: normal;
font-weight: 700;
src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url("RobotoCondensed-Bold.ttf") format('truetype');
}
@font-face {
font-family: "Roboto Condensed";
font-style: italic;
font-weight: 700;
src: local('Roboto Condensed Bold Italic'), local('RobotoCondensed-BoldItalic'), url("RobotoCondensed-BoldItalic.ttf") format('truetype');
}

/*font-face: "Roboto Condensed", Helvetica, Arial, sans-serif;*/
/*Завершили подключение РОБОТО*/

/*******************Login_Page***************/
